%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%section-title {
  margin-bottom: 50px;
  color: $title-text-color;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%btn {
  background-color: $accent-color;
  color: $primary-white-color;
  border: unset;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: $primary-white-color;
  }
}

%logo {
  display: block;
  color: $title-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

%link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

%social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
